:root {
    --header-height : 70px;
    --main-bg: #d5d5d5;
    --main-transition: all 0.3s ease;
    --main-coler: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;

}
input {
    outline: none;

}
.row-fex {
    display: flex;
    justify-content: space-between;
}

/* header */ 
header {
    height: var(--header-height);
    border-bottom: 1px solid #ddd;
    position: fixed;
    z-index: 1;
    width: 100%;
}
header .row-fex {
    align-items: center;
}
.header-nav ul {
    display: flex;
}
.header-nav nav ul li {
    padding: 0 10px;
    transition: var(--main-transition);
    cursor: pointer;
}
.header-logo img {
    width: 100px;
}
.header-nav nav ul li a {
    line-height: var(--header-height); 
    font-size: smaller;
    
}
.header-nav nav ul li:hover {
    background-color: var(--main-bg);
}
.header-search {
    position: relative;
}
.header-search i {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.header-search input {
    height: 30px;
    border: 1px solid black;
    padding-left: 24px;
    border-radius: 15px;
}
.header-cart i {
    font-size: large;
    cursor: pointer;
    position: relative;
}
.header-cart i::after{
    content: attr(number);
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    color: var(--main-coler);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small ;
}
/* slider*/
.slider {
    width: 100vw;
    overflow: hidden;
    aspect-ratio: 2.45/1;
    position: relative;
}
.slider-items {
    position: relative;
    transition: var(--main-transition);
}
.slider-item {
    position: absolute;

}
.slider-item img {
    width: 100vw; 
}
.slider-arrow {
    position: absolute;
    z-index: 1;
}
.slider-arrow i {
    cursor: pointer;
    font-size: large;
}
.slider-arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}