@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --header-height : 70px;
    --main-bg: #d5d5d5;
    --main-transition: all 0.3s ease;
    --main-coler: white;
    --main-fonts: 'Open Sans', sans-serif;
    --main-font-weight : 500
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-fonts);
}

.container {
    max-width: 1240px;
    margin: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: unset;

}
input {
    outline: none;

}
.row-fex {
    display: flex;
    justify-content: space-between;
}
.row-grid {
    display: grid;
    justify-content: space-between;

}
.heading-text {
    font-weight: bolder;
    padding: 12px;
    position: relative;
    margin: 20px 0;

}
.heading-text::after {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-bg);
}
.heading-text::before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    bottom: 0;
    left: 12px;
    background-color:black;
    border-radius: 10px;
}
/* header */ 
header {
    height: var(--header-height);
    border-bottom: 1px solid #ddd;
    position: fixed;
    z-index: 1;
    width: 100%;
}
header .row-fex {
    align-items: center;
}
.header-nav ul {
    display: flex;
}
.header-nav nav ul li {
    padding: 0 10px;
    transition: var(--main-transition);
    cursor: pointer;
}
.header-logo img {
    width: 100px;
}
.header-nav nav ul li a {
    line-height: var(--header-height); 
    font-size: smaller;
    
}
.header-nav nav ul li:hover {
    background-color: var(--main-bg);
}
.header-search {
    position: relative;
}
.header-search i {
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.header-search input {
    height: 30px;
    border: 1px solid black;
    padding-left: 24px;
    border-radius: 15px;
}
.header-cart i {
    font-size: large;
    cursor: pointer;
    position: relative;
}
.header-cart i::after{
    content: attr(number);
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    color: var(--main-coler);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: small ;
}
/* slider*/
.slider {
    width: 100vw;
    overflow: hidden;
    aspect-ratio: 2.45/1;
    position: relative;
}
.slider-items {
    position: relative;
    transition: var(--main-transition);
}
.slider-item {
    position: absolute;

}
.slider-item img {
    width: 100vw; 
}
.slider-arrow {
    position: absolute;
    z-index: 1;
}
.slider-arrow i {
    cursor: pointer;
    font-size: large;
}
.slider-arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}
/* hot-product */
.hot-products .row-grid-hot-products {
    grid-template-columns: repeat(5, 19%);
    

}
.hot-products-item img {
    width: 100%;
}
.hot-products-item p {
    font-weight: var(--main-font-weight);
}
.hot-products-item span {
    font-size: smaller;
    font-weight: 30px;
}
.hot-products-price {
    margin-top: 6px;

}
.hot-products-price p {
    font-weight: var(--main-font-weight);
}
.hot-products-price p span {
    font-weight: 300;
    font-size: small;
    text-decoration: line-through;
}




/* reponsive */
.header-bar-icon,.header-logo-mobile {
    display: none;
}
@media only screen and (max-width: 600px) {
    .row-fex {
        padding: 0 12px;
    }
    /*header */
    header .row-fex {
        height: 70px;
    }
    .header-bar-icon,.header-logo-mobile {
        display: block;
    }
    .header-nav {
        position: fixed;
        top: calc(-100% - var(--header-height));
        left: 0;
        width: 100vw;
        background-color: black;
        color: var(--main-coler);
        transition: var(--main-transition);
    }
    .header-nav.active {
        top: var(--header-height);
    }
    .header-nav nav ul {
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }
    .header-logo-mobile img {
        width: 70px;
    }
    .header-search {
        display: none;
    }
    .header-logo {
        display: none;
    }
  }